{
    "swagger": "2.0",
    "info": {
        "description": "LightCone DEX function interpretation",
        "version": "1.0",
        "title": "LightCone 2.0 API Documentation",
        "termsOfService": "http://Loopring.com",
        "contact": {
            "name": "Loopring@Loopring.com"
        },
        "license": {
            "name": "license Loopring",
            "url": "https://loopring.org"
        }
    },
    "host": "uat2.loopring.io",
    "basePath": "/",
    "tags": [
        {
            "name": "Loopring DEX Restful API"
        },
        {
            "name": "HeBao Restful API"
        },
        {
            "name": "LightCone WebSocket API"
        }
    ],
    "paths": {
        "/api/v2/timestamp": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get relayer's current time",
                "description": "Returns the relayer's current time in millisecond",
                "operationId": "getTimestamp",
                "produces": ["application/json"],
                "parameters": [],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetTimestampV2Response"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    }
                }
            }
        },
        "/api/v2/exchange/tokens": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get token configurations",
                "description": "Returns the configurations of all supported tokens, including Ether.",
                "operationId": "getTokens",
                "produces": ["application/json"],
                "parameters": [],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetTokenInfoResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    }
                }
            }
        },
        "/api/v2/exchange/markets": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get market configurations",
                "description": "Returns the configurations of all supported markets (trading pairs)",
                "operationId": "getMarkets",
                "produces": ["application/json"],
                "parameters": [],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetMarketInfoResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    }
                }
            }
        },
        "/api/v2/depth": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get market orderbook",
                "description": "Returns the order book of a given trading pair.",
                "operationId": "getDepth",
                "parameters": [
                    {
                        "name": "market",
                        "in": "query",
                        "description": "The id of a trading pair.",
                        "required": true,
                        "type": "string",
                        "x-example": "LRC-ETH"
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "description": "Order book aggregation level, larger value means further price aggregation.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 2
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum numbers of bids/asks.",
                        "required": false,
                        "type": "integer",
                        "default": 50,
                        "format": "int32",
                        "x-example": 50
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetDepthResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "108000": {
                        "description": "Unsupported market"
                    },
                    "108001": {
                        "description": "Unsupported depth level"
                    }
                }
            }
        },
        "/api/v2/ticker": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get market ticker",
                "description": "Returns the ticker of a given trading pair.",
                "operationId": "getTicker",
                "parameters": [
                    {
                        "name": "market",
                        "in": "query",
                        "description": "Market pair, support multiple markets",
                        "required": true,
                        "type": "string",
                        "x-example": "LRC-ETH,LRC-USDT"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetTickerResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "100001": {
                        "description": "Invalid argument"
                    }
                }
            }
        },
        "/api/v2/price": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get token fiat prices",
                "description": "Returns the fiat prices of the given tokens",
                "operationId": "getPrice",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "legal",
                        "in": "query",
                        "description": "The fiat currency to uses. Currently the following values are supported: USD,CNY,JPY,EUR,GBP,HKD",
                        "required": true,
                        "type": "string",
                        "x-example": "USD"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetPriceV2Response"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    }
                }
            }
        },
        "/api/v2/trade": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get market recent trades",
                "description": "Query trades with specified market",
                "operationId": "getMarketTrade",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "market",
                        "in": "query",
                        "description": "Single market to query",
                        "required": true,
                        "type": "string",
                        "x-example": "LRC-USDT"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of queries",
                        "required": false,
                        "type": "integer",
                        "default": "None",
                        "format": "int32",
                        "x-example": 20
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetMarketTradesV2Response"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    }
                }
            }
        },
        "/api/v2/candlestick": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get market candlestick",
                "description": "Return the candlestick data of a given trading pair.",
                "operationId": "getCandlestick",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "market",
                        "in": "query",
                        "description": "Trading pair ID, multi-market is not supported",
                        "required": true,
                        "type": "string",
                        "x-example": "LRC-ETH"
                    },
                    {
                        "name": "interval",
                        "in": "query",
                        "description": "Candlestick interval, Supported values are: 1min, 5min, 15min, 30min, 1hr, 2hr, 4hr, 12hr, 1d, 1w",
                        "required": true,
                        "type": "string",
                        "x-example": "5min"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start time",
                        "required": false,
                        "type": "integer",
                        "default": "None",
                        "format": "int64",
                        "x-example": 1584479105000
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End time",
                        "required": false,
                        "type": "integer",
                        "default": "None",
                        "format": "int64",
                        "x-example": 1584565505000
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of data points. If more data points are available, the API will only return the first 'limit' data points.",
                        "required": false,
                        "type": "integer",
                        "default": "None",
                        "format": "int32",
                        "x-example": 120
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetCandlestickResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "100001": {
                        "description": "Invalid argument"
                    }
                }
            }
        },
        "/api/v2/ethNonce": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get user's next Ethereum nonce",
                "description": "Returns the next nonce of the Ethereum address associated with the user's account",
                "operationId": "getEthNonce",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "owner",
                        "in": "query",
                        "description": "Ethereum address",
                        "required": true,
                        "type": "string",
                        "x-example": "0x0000000000000000000000000000000000000000"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetEthNonceV2Response"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104205": {
                        "description": "Error in internal request"
                    },
                    "104208": {
                        "description": "Unknown error in Ethereum node"
                    }
                }
            }
        },
        "/api/v2/ethBalances": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get user's Ether balance on Ethereum mainnet",
                "description": "Returns user's Ether balance on Ethereum mainnet (not the Ether balance on Loopring.io)",
                "operationId": "getEthBalance",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "owner",
                        "in": "query",
                        "description": "Ethereum address",
                        "required": true,
                        "type": "string",
                        "x-example": "0x0000000000000000000000000000000000000000"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetEthBalancesV2Response"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104205": {
                        "description": "Error in internal request"
                    },
                    "104208": {
                        "description": "Unknown error in Ethereum node"
                    }
                }
            }
        },
        "/api/v2/tokenBalances": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get user token balance",
                "description": "Returns user's token balance on Ethereum mainnet (not token's balance on Loopring.io)",
                "operationId": "getTokenBalance",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "owner",
                        "in": "query",
                        "description": "Ethereum address",
                        "required": true,
                        "type": "string",
                        "x-example": "0x0000000000000000000000000000000000000000"
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token's ERC20 address",
                        "required": true,
                        "type": "string",
                        "x-example": "0x0000000000000000000000000000000000000000"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetTokenBalancesV2Response"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104205": {
                        "description": "Error in internal request"
                    },
                    "104208": {
                        "description": "Unknown error in Ethereum node"
                    }
                }
            }
        },
        "/api/v2/allowances": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get user token allowance",
                "description": "Returns the allowance of a given token that the user has authorized for Loopring.io",
                "operationId": "getAllowance",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "owner",
                        "in": "query",
                        "description": "Ethereum address",
                        "required": true,
                        "type": "string",
                        "x-example": "0x0000000000000000000000000000000000000000"
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "The token address to query",
                        "required": true,
                        "type": "string",
                        "x-example": "0x0000000000000000000000000000000000000000"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetAllowancesV2Response"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104205": {
                        "description": "Error in internal request"
                    },
                    "104208": {
                        "description": "Unknown error in Ethereum node"
                    }
                }
            }
        },
        "/api/v2/recommendedGasPrice": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get recommended gas price",
                "description": "Get recommended gas price in Gwei.",
                "operationId": "getRecommendedGasPrice",
                "produces": ["application/json"],
                "parameters": [],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetRecommendedGasPriceResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "105001": {
                        "description": "Failed to get recommended gas"
                    }
                }
            }
        },
        "/api/v2/account": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Query user information",
                "description": "Returns data associated with the user's exchange account.",
                "operationId": "getAccount",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "owner",
                        "in": "query",
                        "description": "Ethereum address",
                        "required": true,
                        "type": "string",
                        "x-example": "0x123456"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetAccountResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "101001": {
                        "description": "The address was not found"
                    },
                    "101002": {
                        "description": "User not found"
                    }
                }
            },
            "post": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "api.submitUpdateAccount.value",
                "description": "api.submitUpdateAccount.notes",
                "operationId": "submitUpdateAccount",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "api.submitUpdateAccount.implicit.value",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateAccountRequest"
                        }
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SubmitOffChainRequestResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "102001": {
                        "description": "Exchange ID is incorrect"
                    },
                    "102021": {
                        "description": "Nonce is invalid"
                    },
                    "102022": {
                        "description": "Transfer sender is invalid"
                    },
                    "102023": {
                        "description": "Transfer receiver is invalid"
                    },
                    "102024": {
                        "description": "Fee token is unsupported"
                    },
                    "102025": {
                        "description": "Transfer token isnt consistent with fee token"
                    }
                }
            }
        },
        "/api/v2/apiKey": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get user ApiKey",
                "description": "Get the ApiKey associated with the user's account.",
                "operationId": "getApiKey",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "AccountID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 10
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetApiKeyResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "101002": {
                        "description": "User not found"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    },
                    "104004": {
                        "description": "No signature information provided"
                    },
                    "104005": {
                        "description": "Wrong signature information"
                    }
                }
            },
            "post": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Update user's ApiKey",
                "description": "Change the ApiKey associated with the user's account. The current ApiKey must be provided as the value of the X-API-KEY HTTP header.",
                "operationId": "applyApiKey",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "api.applyApiKey.implicit.value",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GetApiKeyRequest"
                        }
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetApiKeyResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "100001": {
                        "description": "Invalid argument"
                    },
                    "101002": {
                        "description": "User not found"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    },
                    "104004": {
                        "description": "No signature information provided"
                    },
                    "104005": {
                        "description": "Wrong signature information"
                    }
                }
            }
        },
        "/api/v2/storageId": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "api.getNextStorageId.value",
                "description": "api.getNextStorageId.notes",
                "operationId": "getNextStorageId",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "request.getNextStorageId.accountId",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1
                    },
                    {
                        "name": "tokenSId",
                        "in": "query",
                        "description": "request.getNextStorageId.tokenSId",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 0
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetNextStorageIdResponseData"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    }
                }
            }
        },
        "/api/v3/order": {
            "post": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "api.submitOrderV3.value",
                "description": "api.submitOrderV3.notes",
                "operationId": "submitOrderV3",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "api.submitOrderV3.implicit.value",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SubmitOrderRequest"
                        }
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SubmitOrderResponseV3"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "102001": {
                        "description": "Exchange ID is incorrect"
                    },
                    "102002": {
                        "description": "Unsupported TokenId in the order"
                    },
                    "102003": {
                        "description": "Invalid account ID"
                    },
                    "102004": {
                        "description": "Invalid order ID"
                    },
                    "102005": {
                        "description": "Market does not support"
                    },
                    "102006": {
                        "description": "Illegal rate field"
                    },
                    "102007": {
                        "description": "Order already exists"
                    },
                    "102008": {
                        "description": "Order has expired"
                    },
                    "102010": {
                        "description": "Order is missing signature information"
                    },
                    "102011": {
                        "description": "Insufficient user balance"
                    },
                    "102012": {
                        "description": "The order amount is too small"
                    },
                    "102014": {
                        "description": "Failed to freeze the amount, please try again later"
                    },
                    "102020": {
                        "description": "Exceeded the maximum order amount"
                    },
                    "102027": {
                        "description": "code.102027"
                    },
                    "102120": {
                        "description": "Order is not valid"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    },
                    "104004": {
                        "description": "No signature information provided"
                    },
                    "104005": {
                        "description": "Wrong signature information"
                    }
                }
            }
        },
        "/api/v2/batchOrders": {
            "post": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Submit multiple orders",
                "description": "Submit up to 10 orders as a batch.",
                "operationId": "batchSubmitOrder",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Body of batch submit orders.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BatchSubmitOrderRequest"
                        }
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/BatchSubmitOrderResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "100001": {
                        "description": "Invalid argument"
                    },
                    "104209": {
                        "description": "Partial batch operation failed"
                    }
                }
            }
        },
        "/api/v2/order": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get order details",
                "description": "Get the details of an order based on order hash.",
                "operationId": "getOrderDetail",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Account ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1
                    },
                    {
                        "name": "orderHash",
                        "in": "query",
                        "description": "Order hash",
                        "required": true,
                        "type": "string",
                        "x-example": "13375450901292179417154974849571793069911517354720397125027633242680470075859"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetOrderDetailResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    },
                    "107001": {
                        "description": "User ID cannot be empty"
                    },
                    "107002": {
                        "description": "Order Hash cannot be empty"
                    },
                    "107003": {
                        "description": "Order does not exist"
                    }
                }
            }
        },
        "/api/v2/orders": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get multiple orders",
                "description": "Get a list of orders satisfying certain criteria.",
                "operationId": "getOrders",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Account ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "market",
                        "in": "query",
                        "description": "Trading pair",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "x-example": "LRC-ETH"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Lower bound of order's creation timestamp in millisecond",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1567053142000
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "Upper bound of order's creation timestamp in millisecond",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1567053242000
                    },
                    {
                        "name": "fromHash",
                        "in": "query",
                        "description": "Pagination of data to return records earlier than the requested hash",
                        "required": false,
                        "type": "string",
                        "default": "None ",
                        "x-example": "2600105125336468966417510367500403435128941502452005674156103328855968837178"
                    },
                    {
                        "name": "side",
                        "in": "query",
                        "description": "\"BUY\" or \"SELL\"",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "enum": ["BUY", "SELL"],
                        "x-example": "BUY"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Order status. You can specify one of the following values:",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "enum": [
                            "processing",
                            "processed",
                            "failed",
                            "cancelled",
                            "cancelling",
                            "expired"
                        ],
                        "x-example": "processing,processed"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit of orders (default 50)",
                        "required": false,
                        "type": "integer",
                        "default": "None ",
                        "format": "int32",
                        "x-example": 50
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset of orders (default 0)",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 0
                    },
                    {
                        "name": "orderTypes",
                        "in": "query",
                        "description": "request.getOrders.orderTypes",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "enum": [
                            "LIMIT_ORDER",
                            "MAKER_ONLY",
                            "TAKER_ONLY",
                            "AMM"
                        ],
                        "x-example": "LIMIT_ORDER"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    },
                    "107001": {
                        "description": "User ID cannot be empty"
                    }
                }
            },
            "delete": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Cancel orders",
                "description": "Cancel orders using order hash or client-side ID. If no parameters are provided, all pending all orders will be cancelled.",
                "operationId": "cancelOrders",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Account ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1
                    },
                    {
                        "name": "orderHash",
                        "in": "query",
                        "description": "Order HASH",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "x-example": "13375450901292179417154974849571793069911517354720397125027633242680470075859"
                    },
                    {
                        "name": "clientOrderId",
                        "in": "query",
                        "description": "The unique order ID of the client",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "x-example": "20200318000000001010"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/CancelOrdersResponseData"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "102117": {
                        "description": "No orders to cancel"
                    },
                    "102118": {
                        "description": "Failed to cancel orders, please try again later"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    }
                }
            }
        },
        "/api/v2/orders/byHash": {
            "delete": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Cancel multiple orders by hash",
                "description": "Cancel up to 10 orders by order hash.",
                "operationId": "batchCancelOrdersByOrderHash",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Account ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "orderHash",
                        "in": "query",
                        "description": "Hash of order to be canceled,separate multiple hashes with commas.",
                        "required": true,
                        "type": "string",
                        "x-example": "13375450901292179417154974849571793069911517354720397125027633242680470075859,13375450901292179417154974849571793069911517354720397125027633242680470075860"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/BatchCancelOrderResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "100001": {
                        "description": "Invalid argument"
                    },
                    "104209": {
                        "description": "Partial batch operation failed"
                    }
                }
            }
        },
        "/api/v2/orders/byClientOrderId": {
            "delete": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Cancel multiple orders by clientOrderId",
                "description": "Cancel up to 10 orders by clientOrderId.",
                "operationId": "batchCancelOrdersByClientOrderId",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Account ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "clientOrderId",
                        "in": "query",
                        "description": "ClientOrderIds of orders to be cancelled.",
                        "required": true,
                        "type": "string",
                        "x-example": "20200318000000001010,20200318000000001011"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/BatchCancelOrderResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "100001": {
                        "description": "Invalid argument"
                    },
                    "104209": {
                        "description": "Partial batch operation failed"
                    }
                }
            }
        },
        "/api/v2/sendEthTx": {
            "post": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Send a raw Ethereum transaction",
                "description": "Relay a raw Ethereum transaction to Ethereum mainnet.",
                "operationId": "sendTransaction",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Body of send raw transaction",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ForwardEthTxRequest"
                        }
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/ForwardEthTxResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104202": {
                        "description": "The current node service is not available"
                    },
                    "104205": {
                        "description": "Error in internal request"
                    },
                    "104208": {
                        "description": "Unknown error in Ethereum node"
                    }
                }
            }
        },
        "/api/v2/transfer": {
            "post": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Submit a transfer request",
                "description": "Submit a transfer request",
                "operationId": "submitTransfer",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Submit a transfer message body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OriginTransferRequest"
                        }
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SubmitOffChainRequestResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "102001": {
                        "description": "Exchange ID is incorrect"
                    },
                    "102021": {
                        "description": "Nonce is invalid"
                    },
                    "102022": {
                        "description": "Transfer sender is invalid"
                    },
                    "102023": {
                        "description": "Transfer receiver is invalid"
                    },
                    "102024": {
                        "description": "Fee token is unsupported"
                    },
                    "102025": {
                        "description": "Transfer token isnt consistent with fee token"
                    }
                }
            }
        },
        "/api/v2/dualAuthTransfer": {
            "post": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "api.submitDualAuthTransfer.value",
                "description": "api.submitDualAuthTransfer.notes",
                "operationId": "submitDualAuthTransfer",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "api.submitDualAuthTransfer.implicit.value",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DualAuthTransferRequest"
                        }
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SubmitOffChainRequestResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "102001": {
                        "description": "Exchange ID is incorrect"
                    },
                    "102021": {
                        "description": "Nonce is invalid"
                    },
                    "102022": {
                        "description": "Transfer sender is invalid"
                    },
                    "102023": {
                        "description": "Transfer receiver is invalid"
                    },
                    "102024": {
                        "description": "Fee token is unsupported"
                    },
                    "102025": {
                        "description": "Transfer token isnt consistent with fee token"
                    }
                }
            }
        },
        "/api/v2/reward": {
            "post": {
                "tags": ["Loopring DEX Restful API"],
                "operationId": "submitReward",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/ActionAnyContent"
                        }
                    }
                }
            }
        },
        "/api/v2/user/balances": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get user exchange balances",
                "description": "Returns user's Ether and token balances on exchange.",
                "operationId": "getUserBalances",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "AccountID",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "tokens",
                        "in": "query",
                        "description": "Balances",
                        "required": false,
                        "type": "string",
                        "x-example": "0,1"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetUserBalancesResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    }
                }
            }
        },
        "/api/v2/user/deposits": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get user deposit history",
                "description": "Returns a list of deposit records for the given user.",
                "operationId": "getUserDeposits",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Account ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start time in milliseconds",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1578558098000
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End time in milliseconds",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1578558098000
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Comma separated status values",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "enum": [
                            "processing",
                            "processed",
                            "received",
                            "failed"
                        ],
                        "x-example": "processing,processed"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of records to return",
                        "required": false,
                        "type": "integer",
                        "default": "None",
                        "format": "int32",
                        "x-example": 50
                    },
                    {
                        "name": "tokenSymbol",
                        "in": "query",
                        "description": "Token to filter. If you want to return deposit records for all tokens, omit this parameter",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "x-example": "ETH"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of records to skip",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetUserDepositResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    },
                    "107001": {
                        "description": "User ID cannot be empty"
                    }
                }
            }
        },
        "/api/v2/user/withdrawals": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get user onchain withdrawal history",
                "description": "Get user onchain withdrawal history.",
                "operationId": "getUserWithdrawals",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Account ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start time in milliseconds",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1578558098000
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End time in milliseconds",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1578558098000
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Comma separated status values",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "enum": [
                            "processing",
                            "processed",
                            "received",
                            "failed"
                        ],
                        "x-example": "processing,processed"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of records to return",
                        "required": false,
                        "type": "integer",
                        "default": "None",
                        "format": "int32",
                        "x-example": 50
                    },
                    {
                        "name": "tokenSymbol",
                        "in": "query",
                        "description": "Token to filter. If you want to return deposit records for all tokens, omit this parameter",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "x-example": "LRC"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of records to skip",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1
                    },
                    {
                        "name": "withdrawalTypes",
                        "in": "query",
                        "description": "request.getUserTxs.withdrawalTypes",
                        "required": false,
                        "type": "string",
                        "enum": ["force_withdrawal", "offchain_withdrawal"],
                        "x-example": "force_withdrawal"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetUserOnchainWithdrawalResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    },
                    "107001": {
                        "description": "User ID cannot be empty"
                    }
                }
            },
            "post": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "api.submitOffChainWithdrawal.value",
                "description": "api.submitOffChainWithdrawal.notes",
                "operationId": "submitOffChainWithdrawal",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "api.submitOffChainWithdrawal.implicit.value",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OffChainWithdrawalRequest"
                        }
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SubmitOffChainRequestResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "102001": {
                        "description": "Exchange ID is incorrect"
                    },
                    "102021": {
                        "description": "Nonce is invalid"
                    },
                    "102022": {
                        "description": "Transfer sender is invalid"
                    },
                    "102023": {
                        "description": "Transfer receiver is invalid"
                    },
                    "102024": {
                        "description": "Fee token is unsupported"
                    },
                    "102025": {
                        "description": "Transfer token isnt consistent with fee token"
                    }
                }
            }
        },
        "/api/v2/user/transfers": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get user transfer list",
                "description": "Get user transfer list.",
                "operationId": "getUserTransfers",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Account ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start time in milliseconds",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1578558098000
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End time in milliseconds",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1578558098000
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Comma separated status values",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "enum": [
                            "processing",
                            "processed",
                            "received",
                            "failed"
                        ],
                        "x-example": "processing,processed"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of records to return",
                        "required": false,
                        "type": "integer",
                        "default": "None",
                        "format": "int32",
                        "x-example": 50
                    },
                    {
                        "name": "tokenSymbol",
                        "in": "query",
                        "description": "Token to filter. If you want to return deposit records for all tokens, omit this parameter",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "x-example": "LRC"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of records to skip",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1
                    },
                    {
                        "name": "transferTypes",
                        "in": "query",
                        "description": "request.getUserTxs.transferTypes",
                        "required": false,
                        "type": "string",
                        "x-example": "transfer, transfer_red"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetUserTransferResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    },
                    "107001": {
                        "description": "User ID cannot be empty"
                    }
                }
            }
        },
        "/api/v2/user/createInfo": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get user registration transactions",
                "description": "Returns a list Ethereum transactions from users for exchange account registration.",
                "operationId": "getUserCreate",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Account ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start time in milliseconds",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1578558098000
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End time in milliseconds",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1578558098000
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Comma separated status values",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "enum": [
                            "processing",
                            "processed",
                            "received",
                            "failed"
                        ],
                        "x-example": "processing,processed"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of records to return",
                        "required": false,
                        "type": "integer",
                        "default": "None",
                        "format": "int32",
                        "x-example": 50
                    },
                    {
                        "name": "fromHash",
                        "in": "query",
                        "description": "Pagination of data to return records earlier than the requested hash",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "x-example": "0x9d114267e8b261457d567093c13cf3deea5f14c9235be26c6fa833dba12a9632"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of records to skip",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetUserCreateResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    },
                    "107001": {
                        "description": "User ID cannot be empty"
                    }
                }
            }
        },
        "/api/v2/user/updateInfo": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get password reset transactions",
                "description": "Returns a list Ethereum transactions from users for resetting exchange passwords.",
                "operationId": "getUserUpdate",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Account ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "Start time in milliseconds",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1578558098000
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End time in milliseconds",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1578558098000
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Comma separated status values",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "enum": [
                            "processing",
                            "processed",
                            "received",
                            "failed"
                        ],
                        "x-example": "processing,processed"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of records to return",
                        "required": false,
                        "type": "integer",
                        "default": "None",
                        "format": "int32",
                        "x-example": 50
                    },
                    {
                        "name": "fromHash",
                        "in": "query",
                        "description": "Pagination of data to return records earlier than the requested hash",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "x-example": "0x9d114267e8b261457d567093c13cf3deea5f14c9235be26c6fa833dba12a9632"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of records to skip",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64",
                        "x-example": 1
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetUserAccountUpdateResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    },
                    "107001": {
                        "description": "User ID cannot be empty"
                    }
                }
            }
        },
        "/api/v2/user/trades": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get user trade history",
                "description": "Get user trade history.",
                "operationId": "getUserTrades",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Account ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "market",
                        "in": "query",
                        "description": "Trading pair",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "x-example": "LRC-ETH"
                    },
                    {
                        "name": "orderHash",
                        "in": "query",
                        "description": "If a value is provided, only returns the trades associated with the given order",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "x-example": "0x9d114267e8b261457d567093c13cf3deea5f14c9235be26c6fa833dba12a9632"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Number of records to skip",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of records to return",
                        "required": false,
                        "type": "integer",
                        "default": "None",
                        "format": "int32",
                        "x-example": 50
                    },
                    {
                        "name": "fromId",
                        "in": "query",
                        "description": "Pagination of data to return records earlier than the requested id",
                        "required": false,
                        "type": "integer",
                        "default": "None",
                        "format": "int64",
                        "x-example": 1
                    },
                    {
                        "name": "fillTypes",
                        "in": "query",
                        "description": "request.getUserTrades.fillTypes",
                        "required": false,
                        "type": "string",
                        "default": "None",
                        "enum": ["dex", "amm"],
                        "x-example": "dex"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetUserTradesResponseV2"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "104001": {
                        "description": "Empty ApiKey"
                    },
                    "104002": {
                        "description": "Invalid ApiKey"
                    },
                    "104003": {
                        "description": "Invalid Account ID"
                    }
                }
            }
        },
        "/api/v2/user/feeRates": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Query user place order fee rate",
                "description": "Returns the fee rate of users placing orders in specific markets",
                "operationId": "getUserFeeRates",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Account ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "markets",
                        "in": "query",
                        "description": "List of markets to be queried separated by \",\"",
                        "required": true,
                        "type": "string",
                        "x-example": "LRC-USDT,LRC-ETH"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetUserFeeRatesV2Response"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    }
                }
            }
        },
        "/api/v2/user/bills": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "operationId": "getUserBill",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "billType",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "default": -1,
                        "format": "int32"
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "default": "0L",
                        "format": "int64"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "default": 20,
                        "format": "int32"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32"
                    },
                    {
                        "name": "tokenId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "default": -1,
                        "format": "int32"
                    },
                    {
                        "name": "income",
                        "in": "query",
                        "required": false,
                        "type": "boolean",
                        "default": "None"
                    },
                    {
                        "name": "transferAddress",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/ActionAnyContent"
                        }
                    }
                }
            }
        },
        "/api/v2/crawl": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "operationId": "crawlSite",
                "parameters": [
                    {
                        "name": "site",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/ActionAnyContent"
                        }
                    }
                }
            }
        },
        "/api/v2/exchange/info": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "Get exchange configurations",
                "description": "Return various configurations of Loopring.io",
                "operationId": "getExchangeInfo",
                "produces": ["application/json"],
                "parameters": [],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetExchangeInfoResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    }
                }
            }
        },
        "/api/v2/exchange/withdrawalAgents": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "api.getWithdrawalAgents.value",
                "description": "api.getWithdrawalAgents.notes",
                "operationId": "getWithdrawalAgents",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "tokenId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "amount",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetWithdrawalAgentsResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    }
                }
            }
        },
        "/api/v2/verifyAllEcdsa": {
            "post": {
                "tags": ["Loopring DEX Restful API"],
                "operationId": "verifyAllEcdsa",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/ActionAnyContent"
                        }
                    }
                }
            }
        },
        "/v2/ws": {
            "get": {
                "tags": ["LightCone WebSocket API"],
                "operationId": "ws",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/WebSocket"
                        }
                    }
                }
            }
        },
        "/api/v2/amm/markets": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "api.getAmmMarkets.value",
                "description": "api.getAmmMarkets.notes",
                "operationId": "getAmmMarkets",
                "produces": ["application/json"],
                "parameters": [],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetAmmMarketInfoResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    }
                }
            }
        },
        "/api/v2/amm/snapshot": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "api.getAmmSnapshot.value",
                "description": "api.getAmmSnapshot.notes",
                "operationId": "getAmmSnapshot",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "poolAddress",
                        "in": "query",
                        "description": "request.getAmmSnapshot.address",
                        "required": true,
                        "type": "string",
                        "x-example": "0xbbbbca6a901c926f240b89eacb641d8aec7aeafd"
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GetAmmSnapshotResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    }
                }
            }
        },
        "/api/v2/amm/join": {
            "post": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "api.submitAmmJoin.value",
                "description": "api.submitAmmJoin.notes",
                "operationId": "submitAmmPoolJoin",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "api.AmmPoolJoinRequest.implicit.value",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateAccountRequest"
                        }
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SubmitOffChainRequestResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "102001": {
                        "description": "Exchange ID is incorrect"
                    },
                    "102021": {
                        "description": "Nonce is invalid"
                    },
                    "102022": {
                        "description": "Transfer sender is invalid"
                    },
                    "102023": {
                        "description": "Transfer receiver is invalid"
                    },
                    "102024": {
                        "description": "Fee token is unsupported"
                    },
                    "102025": {
                        "description": "Transfer token isnt consistent with fee token"
                    }
                }
            }
        },
        "/api/v2/amm/exit": {
            "post": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "api.submitAmmPoolExit.value",
                "description": "api.submitAmmPoolExit.notes",
                "operationId": "submitAmmPoolExit",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "api.submitAmmPoolExit.implicit.value",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AmmPoolExitRequest"
                        }
                    }
                ],
                "responses": {
                    "0": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SubmitOffChainRequestResponse"
                        }
                    },
                    "100000": {
                        "description": "Unknown error"
                    },
                    "102001": {
                        "description": "Exchange ID is incorrect"
                    },
                    "102021": {
                        "description": "Nonce is invalid"
                    },
                    "102022": {
                        "description": "Transfer sender is invalid"
                    },
                    "102023": {
                        "description": "Transfer receiver is invalid"
                    },
                    "102024": {
                        "description": "Fee token is unsupported"
                    },
                    "102025": {
                        "description": "Transfer token isnt consistent with fee token"
                    }
                }
            }
        },
        "/api/v2/amm/transactions": {
            "get": {
                "tags": ["Loopring DEX Restful API"],
                "summary": "api.getAmmTransactions.value",
                "description": "api.getAmmTransactions.notes",
                "operationId": "getAmmTransactions",
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "poolAddress",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "billType",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "default": -1,
                        "format": "int32"
[...]
